.container{
    width: 470px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.inp{
    width: 450px;
    font-size: 20px;
    padding: 5px;
    color:black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white;

}
.search{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40px;
    font-size: 20px;
    background-color:white;
    border: 1px solid white;
}