.container{
    margin-top: 10px;
    width: auto;
    display: grid;    
    grid-template-columns: repeat(4, 18%);
  
    grid-gap: 20px;
    justify-content: space-around;
}

 @media (max-width:1024px) and (min-width:769px){
    .container{
        grid-template-columns: repeat(3, 25%);
        grid-template-rows: 330px;
    }
 }
 @media (max-width:768px) and (min-width:426px){
    .container{
        grid-template-columns: repeat(3, 28%);
        grid-template-rows: 300px;
    }
 }
 @media (max-width:426px) and (min-width:319px){
    .container{
        grid-template-columns: repeat(1, 85%);
        grid-template-rows: 450px;
    }
 }
 @media (max-width:2560px) and (min-width:1540px){
    .container{
        grid-template-columns: repeat(4, 18%);
        grid-template-rows: 500px;
    }
 }